{% extends 'base.html' %}

{% block title %}Aplikacja Budżet Personalny{% endblock %}

{% block body %}

<header>

    <h1 class="naglowek">Witam w aplikacji budżet personalny</h1>
	
	<blockquote class="blockquote text-white text-center">

		<p class=" mb-0 display-4 my-3">„Zrobić budżet to wskazać swoim pieniądzom, dokąd mają iść, zamiast się zastanawiać, gdzie się rozeszły.”</p>
							
		<footer class="blockquote-footer text-white text-right mr-2" >John C. Maxwell</footer>
							
	</blockquote>
</header>		

    {% if current_user %}
		<p class=" display-4 my-5 text-light text-center">
        Cześć {{ current_user.name }}.</p>

        
    {% else %}
	
	
	
        <article class="opis">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-12">
						
					<h2 class="h3 font-weight-bold my-4 text-dark text-center naglowek">Dlaczego aplikacja Budżet Personalny?</h2>
						
				</div>
				
				<div class="col-sm-12 col-md-4 my-4">
					
						<figure>
							<img src="/img/income.png" alt="przychody">
							<figcaption class=" display-4">Kontroluj przychody</figcaption>
						</figure>
					
				</div>
				
				<div class="col-sm-12 col-md-4 my-4">
					
						<figure>
							<img src="/img/expense.png" alt="wydatki">
							<figcaption class=" display-4">Kontroluj wydatki</figcaption>
						</figure>
					
				</div>
				
				<div class="col-sm-12 col-md-4 my-4">
					
						<figure>
							<img src="/img/savings.png" alt="oszczędności</figcaption>">
							<figcaption class=" display-4">Kontroluj oszczędności</figcaption>
						</figure>
					
				</div>
			
			</div>	

			<div class="row my-5 justify-content-center ">
					
						 <div class="col col-lg-2 ">
						 <a href="/login" class="tilelink">
							<figure>
								<i class="fas fa-sign-in-alt fa-2x"></i><br />Zaloguj się!
							</figure>
							</a>
						</div>
					
						<div class="col-md-auto tilelink">
						  
						</div>
					
						<div class="col col-lg-2">
						<a href="/signup/new" class="tilelink">
							<figure>
								<i class="fas fa-file-signature fa-2x"></i><br />Zarejestruj się!
							</figure>
							</a>
						</div>
					
			
				
				
					
			
					
			
				
			</div>	
	
		</div>	
				

		</article>
		
		<footer>
    {% endif %}

{% endblock %}
