{% extends 'base.html' %}

{% block title %}Przychody{% endblock %}

{% block body %}

    <h1 class="naglowek">Przychody</h1>

    <div class="container">
    <form action="/Income/create" method="post">
		<div class="row my-1" id="logowanie">
			<div class="form-group w-50">
				<label class = "text-light loginLabel" for="inputEmail">Kwota </label>
				<div class="input-group">
						
						<div class="input-group-prepend">
							<i class="fas fa-coins"></i> 
						</div>
						<input  type="number" id="inputamount" name="amount" placeholder="Podaj kwotę" autofocus value="{{ amount }}" class="form-control" />
				</div>
			</div>
		</div>
		<div class="row my-1" id="logowanie">
			<div class="form-group w-50">
				<label class = "text-light loginLabel" for="inputPassword">Data </label>
				<div class="input-group">
						
					<div class="input-group-prepend">
						<i class="fas fa-calendar-week"></i> 
					</div>
						<input  type="date" id="theDate" name="date" placeholder="Data" class="form-control" />
				</div>	
			</div>
		</div>
		<div class="row my-1" id="logowanie">
			<div class="checkbox">
				<label class = "text-light loginLabel">
					<input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"{% endif %} /> Zapamiętaj mnie
				</label>
			</div>
		</div>
	<div class="row my-1" id="logowanie">
        <button type="submit" class="btn btn-default btn-lg">Zaloguj</button>
        <a class = "forgottenPassword" href="/password/forgot"> Zapomniałeś hasło?</a>
	</div>
    </form>
</div>

{% endblock %}
